.puzzle-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#puzzle{
    border: solid black 5px;
    background: black;
    width: 500px;
    height: 500px;
}

.tile{
    background: url(/img/monks.jpg);
    outline: solid black 5px;
    position: relative;
    float: left;
}

.tile.empty{
    background: black;
}

@media(max-width: 500px){
    #puzzle{
        width: 100vw;
        height: 100vw;
    }
    .tile{
        background-size: 100vw 100vw;
    }
}